{% include "blogs/navbar.html" %} {% block content %}
<div class="max-w-lg mx-auto mt-10">
  <h1 class="text-2xl font-bold mb-4">Eliminar Publicación</h1>
  <p>¿Estás seguro de que deseas eliminar la publicación "{{ post.title }}"?</p>
  <form method="post">
    {% csrf_token %}
    <div class="flex justify-between">
      <button
        type="submit"
        class="bg-red-500 text-white font-bold py-2 px-4 rounded"
      >
        Eliminar
      </button>
      <a
        href="{% url 'blogs:post' post.slug %}"
        class="bg-gray-300 text-black font-bold py-2 px-4 rounded"
        >Cancelar</a
      >
    </div>
  </form>
</div>
{% endblock %}
